<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.onthespot">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:launchMode= "singleInstance"
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name=".GameOver"
            android:configChanges="orientation|keyboardHidden"
            android:label="Game Over"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name=".LvlWon"
            android:configChanges="orientation|keyboardHidden"
            android:label="Level Won"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name=".MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                    <category android:name="android.intent.category.HOME" />
                    <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name=".LvlSelectActivity"
            android:label="@string/title_activity_lvl_select"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name=".Options"
            android:label="@string/title_activity_options"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name=".Pause"
            android:label="@string/title_activity_pause"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
