<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lekkergewoon.android.onthespot">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    

    <application

        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <activity
            android:launchMode= "singleInstance"
            android:name="com.lekkergewoon.android.onthespot.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name="com.lekkergewoon.android.onthespot.GameOver"
            android:configChanges="orientation|keyboardHidden"
            android:label="Game Over"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name="com.lekkergewoon.android.onthespot.LvlWon"
            android:configChanges="orientation|keyboardHidden"
            android:label="Level Won"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name="com.lekkergewoon.android.onthespot.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name="com.lekkergewoon.android.onthespot.LvlSelectActivity"
            android:label="@string/title_activity_lvl_select"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name="com.lekkergewoon.android.onthespot.Options"
            android:label="@string/title_activity_options"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name="com.lekkergewoon.android.onthespot.Pause"
            android:label="@string/title_activity_pause"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name="com.lekkergewoon.android.onthespot.MultiplayerEnd"
            android:label="@string/title_activity_multiplayer_end"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name="com.lekkergewoon.android.onthespot.chooseLeaderboardActivity"
            android:label="Choose leaderboard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:launchMode= "singleInstance"
            android:name="com.lekkergewoon.android.onthespot.LeaderboardsActivity"
            android:label="Leaderboard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
